.footer {
    position: absolute;
    bottom: 0;
    left: 0;
  
    width: 100%;
    display: inline-block;
    height: 70px;
    margin: 0;
    background-color: #999;
    opacity: 0.5;
  }
  .footer .copyright {
    width: 100%;
  }
  .footer .copyright p {
    color: white;
    font-size: 0.7em;
    line-height: 50px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
  }